{% extends 'portfolio/base.html' %} <!--loads page header/nav bar-->
{% load static %} <!--loads static files; css, images, etc-->

{% block content %}

<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
        <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    </head>
    <body>

        <main class="container"> <!--Container that creates the card-->
            <div class="flex-container"> <!--Centers the card-->
                <div id="background"> <!--Background for the card-->

                    <div class="center"> <!--Container for the cards header-->
                        <h1>Home</h1>
                        <hr/>
                    </div>

                    <div class="columns-index"> <!--Sets up the two columns in the cards body-->

                        <div class="flex-info-container"> <!--Container for the left column in the cards body-->
                            <h2>About Me</h2>
                            <p>I graduated from Southern New Hampshire University with a Bachelors Degree in Computer Science. I love to play video games, TCG games, build PCs, and read books. I currently work retail, and code small programs on the side.</p>

                            <img src="{% static 'images/lifecycle.png' %}" alt="Software Development Cycle" style="padding-left: 30px; width: 375px; height: auto">

                            <img src="{% static 'images/project.png' %}" alt="Projects Stock Image" style="padding-top: 20px; padding-bottom: 40px; padding-left: 30px; width: 375px; height: auto">

                            <h2>What I Could Improve On</h2>
                            <p>There are many aspects of these project that could be improved upon, as they are all projects from my past. But they also show how I have improved since that point in time. Looking back at these projects I notice elements that could have been done better then, but are also elements that I still need to improve on now.</p>
                            <p>There are three main aspects that need improvement; Comments, Readability, and Optimization.</p>
                            <p>I have only worked solo on projects so far and am not used to working on a team. This means that good commenting is not a strong suit of mine, as it is not needed in the same way when working solo versus working on a team.</p>

                        </div>

                        <div class="flex-info-container"> <!--Container for the right column in the cards body-->

                            <hr class="indexhr">
                            <h2>The Projects</h2>
                            <p>There are three projects that I have selected to be displayed on this portfolio, and this section will give a brief introduction into what they are. All three projects created solely by me. Each project has the GitHub repository linked on the page, and the repositories have images depicting the main functions of the applications/websites.</p>

                            <h3>Portfolio Website:</h3>
                            <p>A website is designed to showcase a few of the projects that I have created. It was also created with the intent of learning how to host a website, and to do it on a raspberry pi.</p>

                            <!--<h3>Image Slideshow Program:</h3>
                            <p>A program that will create a slideshow from any number and types of images. Includes many settings to customize the slideshow.</p>-->

                            <h3>MTG Deck Downloader:</h3>
                            <p>A program to download a Magic The Gathering commander deck from Moxfield. It downloads all the cards as images, intended to be used with Tabletop Simulator.</p>

                            <h3>SNHU Website Redesign:</h3>
                            <p>A redesign of the Southern New Hampshire University student portal. This was done as a major project during my time attending SNHU and was used as a reference for the current updated portal.</p>


                            <img src="{% static 'images/improvement.png' %}" alt="Improvement Cycle" style="padding-top: 15px; padding-left: 40px; width: 375px; height: auto">
                        </div>

                    </div> <!--columns-index-->

                </div> <!--background-->
            </div> <!--flex-container-->
        </main> <!--main card container-->

    </body>
</html>

{% endblock %}