{% extends 'portfolio/base.html' %}
{% load static %}


{% block content %}
<html>
    <head>
        <title>SNHU Website Redesign</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
        <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    </head>
    <body>

        <main class="container">
            <div class="flex-container">
                <div id="background">
                    <div class="center">
                        <h1>SNHU Website Redesign</h1>
                        <hr/>
                        <h3>Stack: ASP.NET, .NET, C#, HTML, CSS, MySQL, AWS</h3>
                        <h3><a href="https://github.com/evboucher004/SNHU-Website-Redesign" target="_blank" class="repository-link">Project Repository</a></h3>
                    </div>

                    <!--Sets up the two columns of the cards body-->
                    <div class="columns-snhu">

                        <div class="flex-info-container">
                            <h2>Purpose</h2>
                            <p>The purpose of this website was to redesign the main SNHU portal that students accessed to view important information such as, their advisor, schedule, and class registration. This was done as a major sophomore project that was presented to the entire Computer Science department.</p>
                            <p>At the time the SNHU website was very difficult to navigate, and was very visually cluttered. This project was a petition to the school board to fix the website, and to give potential ideas as to how to improve it. Since then SNHU has completely redesigned the website from the ground up to be much simpler and cleaner across the board.</p>

                            <img src="{% static 'images/aspnet.png' %}" alt="ASP.Net Logo" style="padding-top: 50px; padding-bottom: 25px; width: 500px; height: auto"> <!--aspnet.png image, in the learned section-->
                            <img src="{% static 'images/mysql.png' %}" alt="MySQL Logo" style="padding-top: 25px; padding-bottom: 220px; padding-left: 70px; width: 400px; height: auto"> <!--mysql.png image, in the learned section-->

                            <h2>What I Learned</h2>
                            <p>I learned a lot while working on the project. Most of the technologies I used in this project were new to me, so I had to learn how to properly manage the tasks ahead of me so that I did not get overwhelmed. I had to create an outline of what the best order of tasks was so that I could work one step at a time and did not need to learn two new topics at one time.</p>
                            <p>I became very comfortable with HTML and CSS by the end, and felt good about ASP.NET and MySQL. AWS was still confusing to me, mostly due to that fact that there are so many things that can be done with it that I could see, but did not know what they were. Overall this was one of the most important projects I have ever worked on, and is still to this day the largest project I have created.</p>
                        </div>

                         <!--Container for the right column of the cards body-->
                        <div class="flex-info-container">
                            <img src="{% static 'images/snhu-logo.png' %}" alt="SNHU Logo" style="padding-top: 80px; padding-bottom: 80px; width: 400px; height: auto"> <!--snhu-logo.png image, in the purpose section-->

                            <h2>Process</h2>
                            <p>This was my first time creating a website, so I had a lot to learn. HTML, CSS, MySQL, and AWS were all new to me and having to learn them all simultaneously would have been impossible, so I broke them up into different sections.</p>
                            <p>First, I learned how to create a basic webpage with HTML. I followed an online tutorial to get a grasp on the basics, then did the same with CSS. I learned during this that W3Schools is a lifesaver when it comes to HTML and CSS.</p>
                            <p>The second step was to create a basic database using MySQL. This was very simple and easy in comparison to the other parts. The only semi-challenging part was understanding how bridging tables worked, but after a couple of attempts I understood how to it functions and ran into no more issues.</p>
                            <p>The next step was ASP.NET. This was much more difficult, and the hardest part was the start. Just setting up a basic project with navigation between a few simple pages and connecting it to the database was by far the most difficult part of this project. Once I had a basic project to work off of the rest fell into place easily.</p>
                            <p>Designing the website was both simple and challenging. Creating the functions of the website went very smoothly with only a few speed bumps along the way. On the other hand, deciding the layout and overall design of the website was challenging. I am not talented at graphic design, or art in general, so I had very little sense of what looked good and functioned well, which made this the most time-consuming aspect. It was a long process of trial and error until I was satisfied with the result.</p>
                            <p>The last step was to host the database I created on AWS. I had never used AWS or anything like it before, so it took some effort, and mistakes, to set things up correctly and connect it to the website. Overall it wasn't too difficult as it was a simple task, which meant there were many guides online to help.</p>

                            <img src="{% static 'images/trialanderror.png' %}" alt="Trial and Error Image" style="padding-top: 90px; padding-bottom: 50px; width: 400px; height: auto"> <!--trialanderror.png image, in the purpose section-->

                        </div>

                    </div> <!--columns-index-->

                </div> <!--background-->
            </div> <!--flex-container-->
        </main> <!--main card container-->

    </body>
</html>
{% endblock %}